body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fafafa;
    padding: 20px;
}
h1, h6{
    text-align: center;
    color: #333;
}
table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}
td, th {
    border: 1px solid #ccc;
    text-align: center;
    padding: 8px;
    max-width: 260px;
}
tr:nth-child(even) {
    background-color: #f9f9f9;
}
img{
    max-width: 100px;
    height: auto;
    border-radius: 5px;
}
#buscador{
    width: 400px;
    padding: 8px;
    font-size: 16px;
    border-radius: 8xp;
    border: 1px solid #aaa;
}